*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

#flex-box {
    height: 90%;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

#new-book-form {
    visibility: hidden;
}

body {
    height: 100vh;
    width: 100vw;
}

#new-book-btn {
    width: 5%;
    align-self: flex-end;
}

#outermost-div, #form-container {
    position: absolute;
    height: 100%;
    width: 100%;
}

#form-container {
    visibility: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

#new-book-form {
    display: flex;
    flex-direction: column;
}

.bookCard {
    height: 25%;
    width: 10%;
    padding: 1%;
    margin: 5%;
    border: solid;
}



