*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

h1 {
    text-align: center;
}

#flex-box {
    height: 90%;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

#new-book-form {
    visibility: hidden;
}

#edit-book-form {
    visibility: hidden;
}

#delete-warning-container {
    z-index: 0;
    visibility: hidden;
}

body {
    background: wheat;
    height: 100vh;
    width: 100vw;
}

#new-book-btn {
    width: 5%;
    align-self: flex-end;
}

#outermost-div, #form-container, #edit-form-container,
#delete-warning-container {
    height: 100%;
    width: 100%;
}

#outermost-div, #form-container, #edit-form-container {
    z-index: 1;
}

#outermost-div, #form-container, #edit-form-container,
#selected-book-flex-box, #delete-warning-container {
    position: absolute;
}

#selected-book-flex-box {
    z-index: 0;
}

#form-container {
    visibility: hidden;
}

#edit-form-container {
    visibility: hidden;
}

#form-container, #edit-form-container, #delete-warning-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

#new-book-form, #edit-book-form, #delete-warning {
    position: absolute;
    background: whitesmoke;
    padding: 1%;
    border: solid;
    border-color: black;
    display: flex;
    flex-direction: column;
}

#new-book-form > input, #edit-book-form > input {
    margin-top: 2%;
    margin-bottom:2%;
}

.bookCard, #selected-book {
    background: tan;
    height: 25%;
    width: 10%;
    padding: 1%;
    margin: 5%;
    border: solid;
    box-shadow: inset 0 0 100% red;

}

#selected-book {
    visibility: hidden; 
    /* display: flex;
    flex-direction: column; */
    /* position: absolute; */
}

#selected-book-main-btns {
    display: flex;
    justify-content: space-between;
}

#selected-book-flex-box {
    position: absolute;
    height: 90%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.jump {
    position: relative;
    bottom: 3%;
}

#exit-form-btn, #exit-edit-form-btn, #exit-selected-book-btn {
    background: red;
    color: white;
    margin-left: 90%;
    float: right;
}

#edit-form-buttons {
    display: flex;
    justify-content: space-between;
}

#delete-warning-btns {
    display: flex;
    justify-content: space-around;
}

#delete-msg {
    padding: 5%;
}



