*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

h1 {
    text-align: center;
}

#flex-box {
    height: 90%;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

#new-book-form, #edit-book-form {
    visibility: hidden;
}

body {
    background: wheat;
    height: 100vh;
    width: 100vw;
}

#new-book-btn {
    width: 5%;
    align-self: flex-end;
}

#outermost-div, #form-container {
    position: absolute;
    height: 100%;
    width: 100%;
}

#form-container {
    visibility: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

#new-book-form, #edit-book-form {
    position: absolute;
    background: whitesmoke;
    padding: 1%;
    border: solid;
    border-color: black;
    display: flex;
    flex-direction: column;
}

#new-book-form > input, #edit-book-form > input {
    margin-top: 2%;
    margin-bottom:2%;
}

.bookCard {
    background: tan;
    height: 25%;
    width: 10%;
    padding: 1%;
    margin: 5%;
    border: solid;
    box-shadow: inset 0 0 100% red;

}

.jump {
    position: relative;
    bottom: 3%;
}

#exit-form-btn, #exit-edit-form-btn {
    background: red;
    color: white;
    margin-left: 90%;
    float: right;
}



